<%= form_for(@vakken) do |f| %>
  <% if @vakken.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vakken.errors.count, "error") %> prohibited this vakken from being saved:</h2>

      <ul>
      <% @vakken.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :studiepunten %><br />
    <%= f.text_field :studiepunten %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
