<h1>Listing vakkens</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Studiepunten</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vakkens.each do |vakken| %>
  <tr>
    <td><%= vakken.name %></td>
    <td><%= vakken.studiepunten %></td>
    <td><%= link_to 'Show', vakken %></td>
    <td><%= link_to 'Edit', edit_vakken_path(vakken) %></td>
    <td><%= link_to 'Destroy', vakken, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vakken', new_vakken_path %>
